<div id="main">
	<button class="index"><%= link_to 'All Entries', user_path(@user), :method => :get %></button>

	<%= form_for [@user, @entry] do |form| %>
		<br><%= form.date_select :date, :start_year => 2000, 
	   :order => [:month, :day, :year] %>
		<br><%= form.text_field :text, :id => "entry" %>
		<br><%= form.submit 'Save Changes' %>
	<% end %>
	</div>